version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend
    container_name: laravel_backend
    restart: unless-stopped
    ports:
      - "9001:9001"
    volumes:
      - ./backend:/var/www
    depends_on:
      - mysql
    networks:
      - app_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    container_name: react_frontend
    restart: unless-stopped
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - app_network

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app_network

  nginx:
    image: nginx:latest
    container_name: nginx_server
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/dist:/var/www/frontend/dist
      - ./backend/public:/var/www/backend/public
    depends_on:
      - backend
      - frontend
    networks:
      - app_network

volumes:
  mysql_data:

networks:
  app_network:


# version: "3.8"

# services:
#   backend:
#     build: ./backend
#     container_name: laravel_app
#     restart: always
#     ports:
#       - "8000:8000"
#     depends_on:
#       - db
#     environment:
#       - APP_ENV=local
#       - DB_HOST=db
#       - DB_PORT=3306
#       - DB_DATABASE=mydb
#       - DB_USERNAME=root
#       - DB_PASSWORD=root
#     volumes:
#       - ./backend:/var/www/html

#   frontend:
#     build: ./frontend
#     container_name: react_app
#     restart: always
#     ports:
#       - "3000:3000"
#     depends_on:
#       - backend
#     volumes:
#       - ./frontend:/app
#       - /app/node_modules

#   db:
#     image: mysql:8.0
#     container_name: mysql_db
#     restart: always
#     ports:
#       - "3307:3307"
#     environment:
#       - MYSQL_ROOT_PASSWORD=root
#       - MYSQL_DATABASE=mydb
#     volumes:
#       - db_data:/var/lib/mysql

# volumes:
#   db_data:



